::-webkit-scrollbar {
  width: 6px !important;
  overflow-y: scroll;
  background: white;
  box-shadow: inset 0 0 6px white;
}

::-webkit-scrollbar-thumb {
  height: 10px;
  background: rgba(229, 239, 246, 0.9);
  border-radius: 10px;
}

@media only screen and (min-width: 1024px) {
  .causali-span-message {
    color: #9D9D9D;
    position: absolute;
    height: 16px;
    font-size: 10px;
    z-index: 1;
    bottom: 0;
    background-color: white;
    width: 80%;
    padding-left: 16px;
  }

  .testClass {
    margin-left: 30px !important;
  }

  input.mat-select-search-input.mat-input-element.ng-pristine {

  }

  div.mat-select-search-inner.mat-typography.mat-datepicker-content.mat-tab-header {
    height: 43px;
    margin-top: 29px;
    padding-top: 5px;
  }

  .mat-select-search-no-entries-found {
    padding-top: 12px !important;
  }

  .mat-pseudo-checkbox-checked::after {
    color: #0060AD;
    left: 2px !important;
  }

  mat-pseudo-checkbox.mat-pseudo-checkbox.mat-option-pseudo-checkbox.ng-star-inserted.mat-pseudo-checkbox-checked {
    background: #FFFFFF !important;
  }

  mat-pseudo-checkbox.mat-pseudo-checkbox.mat-option-pseudo-checkbox.ng-star-inserted.mat-pseudo-checkbox {
    border-radius: 0 !important;
    border: 1px solid #9D9D9D;
  }

  mat-pseudo-checkbox.mat-pseudo-checkbox.mat-option-pseudo-checkbox.ng-star-inserted.mat-pseudo-checkbox-checked {
    border: 1px solid #0060AD;
  }

  ::ng-deep .mat-select-panel:not([class*=mat-elevation-z]) {
    margin: 4em 0 0 0.4em !important;
    max-height: 400px;
    padding-bottom: 2em;
  }

  :host {
    ::ng-deep {
      //.mat-primary .mat-pseudo-checkbox-checked {
      //  background: #0060AD !important;
      //}

      //.mat-pseudo-checkbox {
      //  width: 16px;
      //  height: 16px;
      //  border: 1px solid #9D9D9D !important;
      //  border-radius: 0 !important;
      //  cursor: pointer;
      //  display: inline-block;
      //  vertical-align: middle;
      //  box-sizing: border-box;
      //  position: relative;
      //  flex-shrink: 0;
      //  transition: border-color 90ms cubic-bezier(0, 0, 0.2, 0.1), background-color 90ms cubic-bezier(0, 0, 0.2, 0.1);
      //  pointer-events: auto;
      //}

      //.mat-pseudo-checkbox.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox.mat-pseudo-checkbox-indeterminate {
      //  background: none;
      //  border: 1px solid #0060AD !important;
      //}
      //
      //.mat-pseudo-checkbox-checked::after {
      //  color: #0060AD;
      //  left: 2px !important;
      //}

      //.mat-option.mat-active {
      //  background: none !important;
      //}
      //
      //.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
      //  color: #0060AD !important;
      //}

      //.mat-option {
      //  white-space: nowrap;
      //  overflow: hidden;
      //  text-overflow: ellipsis;
      //  line-height: 48px;
      //  padding: 0 16px;
      //  text-align: left;
      //  text-decoration: none;
      //  max-width: 100%;
      //  position: relative;
      //  cursor: pointer;
      //  outline: none;
      //  display: flex;
      //  flex-direction: row;
      //  box-sizing: border-box;
      //  align-items: center;
      //  -webkit-tap-highlight-color: transparent;
      //  pointer-events: none;
      //}
      //
      //.mat-select-panel .mat-option {
      //  height: 30px !important;
      //}
      //
      //.mat-form-field.mat-focused .mat-form-field-underline {
      //  display: none;
      //}
    }
  }
}

@media only screen and (max-width: 1024px) {

  .mat-pseudo-checkbox-checked::after {
    color: #0060AD;
    left: 2px !important;
  }

  mat-pseudo-checkbox.mat-pseudo-checkbox.mat-option-pseudo-checkbox.ng-star-inserted.mat-pseudo-checkbox-checked {
    background: #FFFFFF !important;
  }

  .testClass {
    margin-left: 30px !important;
    max-width: 10px;
    margin-top: 2.1em !important;
    padding-bottom: 1em !important;
  }

  div.mat-select-search-inner.mat-typography.mat-datepicker-content.mat-tab-header {
    height: 43px;
    margin-top: 29px;
    padding-top: 5px;
  }

  mat-pseudo-checkbox.mat-pseudo-checkbox.mat-option-pseudo-checkbox.ng-star-inserted.mat-pseudo-checkbox {
    border-radius: 0 !important;
    border: 1px solid #9D9D9D;
  }

  mat-pseudo-checkbox.mat-pseudo-checkbox.mat-option-pseudo-checkbox.ng-star-inserted.mat-pseudo-checkbox-checked {
    border: 1px solid #0060AD;
  }

  .causali-span-message {
    color: #9D9D9D;
    position: absolute;
    z-index: 1;
    bottom: 0;
    background-color: white;
    width: 100%;
    padding-left: 16px;
    height: 20px;
    font-size: 10px;
  }
}
