<mat-form-field appearance="outline" style="background: #FFFFFF"
                [style.width]="isFullScreen ? '90vw' : ''">
    <mat-icon *ngIf="multiSelect.focused"
              [style]="!isFullScreen ? 'margin: 20% 0 0 85%; background: transparent;' : 'margin: 37px 0 0 96%; background: transparent;'"
              style="position: absolute; z-index: 10000; background-color: white">search
    </mat-icon>
    <mat-select disableOptionCentering
                style="position: relative"
                [placeholder]="label"
                [formControl]="bankMultiCtrl"
                [multiple]="true"
                panelClass="testClass"
                cdk-scrollable
                (closed)="resetValues()"
                #multiSelect>
        <div class="causali-span-message">
            <span *ngIf="isCausali && isCountVisible" style="margin-bottom: 3px;">
                Più {{isFullScreen ? optionsList.length - 8 : optionsList.length - 5}} Causali...
            </span>
        </div>
        <mat-option>
            <ngx-mat-select-search
                    [placeholderLabel]="'Cerca'"
                    [formControl]="bankMultiFilterCtrl"
                    noEntriesFoundLabel="Nessun risultato trovato"
                    [hideClearSearchButton]="true">
            </ngx-mat-select-search>
        </mat-option>
        <mat-option
                [value]="{id:'selectAll', name:''}"
                (click)="toggleSelectAll()"
                *ngIf="isCountVisible">
            <b [style]="isChecked({id:'selectAll', name:'', checked: false}) ?
            'color: #333333' : 'color: #333333; opacity: 0.7'">{{label}}</b>
        </mat-option>
        <hr style="margin-bottom: 0; margin-top: 0">
        <mat-option
                style="margin-bottom: 3px"
                *ngFor="let causale of filteredBanksMulti | async"
                [value]="causale"
                (click)="otherOptionSelect()">
            <span [style]="isChecked(causale) ? 'color: #333333' : 'color: #333333; opacity: 0.7'">
                <ng-container *ngIf="isChecked(causale)"><b>{{causale.name}}</b></ng-container>
                    <ng-container *ngIf="!isChecked(causale)"> {{causale.name}} </ng-container>
            </span>
        </mat-option>
    </mat-select>
</mat-form-field>
