<div [class]="innerWidth < 1024 ? 'filtri-applicati-768' : 'filtri-applicati'">
    <div [style]="innerWidth >= 1024 ? 'display: flex; flex-direction: row; width: 100%; height: 80px;' : 'display: flex; flex-direction: column;'">
        <div [class]="innerWidth < 1024 ? 'positioning' : 'wrapper-element'" [style]="innerWidth >= 1024 ? 'margin-left: 0;' : ''">
            <app-ltm-select #select1 [style]="innerWidth < 1024 ? 'width: 100%; background-color: white': 'background-color: white'" [label]="'Tutte le causali'" [isFullScreen]="innerWidth < 1024"></app-ltm-select>
        </div>
        <div [class]="innerWidth < 1024 ? 'positioning' : 'wrapper-element'">
            <app-ltm-select #select2 [label]="'Tutti gli esiti'" [isCausali]="false" [style]="innerWidth < 1024 ? 'width: 100%; background-color: white': 'background-color: white'"
                            [isFullScreen]="innerWidth < 1024"></app-ltm-select>
        </div>
        <div [class]="innerWidth < 1024 ? 'positioning' : 'wrapper-element'">
            <app-ltm-select-date [style]="innerWidth < 1024 ? 'width: 100%; background-color: white': 'background-color: white'"  [isFullScreen]="innerWidth < 1024"></app-ltm-select-date>
        </div>
        <div class="wrapper-element" *ngIf="innerWidth >= 1024">
            <button class="button" [disabled]="false">APPLICA FILTRI</button>
        </div>
        <div *ngIf="innerWidth >= 1024" style="display: flex; margin-left: 20px; margin-right: 15px; align-items: center; justify-content: flex-start">
            <button class="button open-datepicker-btn" (click)="resetFiltri()">RIMUOVI FILTRI</button>
        </div>
    </div>
    <div *ngIf="innerWidth >= 1024" style="display: flex; width: 100%; flex-direction: row; position:relative" (click)="onChecked()">
        <!-- TODO: se selezioni date non corrette, compare questo div -->
        <div class="wrong-date-error-message ">
            Attenzione, hai inserito un periodo temporale non valido.
        </div>
        <div>
            <input type="checkbox" [checked]="miniGames">
        </div>
        <div style="margin-left: 10px;" class="mini-games">
            <span>Non visualizzare le giocate <b>Mini Games</b></span>
        </div>
    </div>

    <div *ngIf="innerWidth < 1024" style="display: flex; width: 100%; flex-direction: row; position:relative" (click)="onChecked()">
        <!-- TODO: se selezioni date non corrette, compare questo div -->
        <div class="wrong-date-error-message">
            Attenzione, hai inserito un periodo temporale non valido.
        </div>
        <div style="width: 55%; display: flex; flex-direction: row">
            <div style="display: flex; width: 5%; align-items: center">
                <input type="checkbox" [checked]="miniGames">
            </div>
            <div style="margin-left: 10px; margin-top: 5px; width: 95%; display: flex; align-items: center"
                 class="mini-games">
                <span>Non visualizzare le giocate <b>Mini Games</b></span>
            </div>
        </div>
        <div style="display: flex; width: 45%; align-items: center; justify-content: flex-end;">
            <div>
                <button class="button" [disabled]="false">APPLICA FILTRI</button>
            </div>
            <div style="margin-left: 15px">
                <button class="button open-datepicker-btn" (click)="resetFiltri()">RIMUOVI FILTRI</button>
            </div>
        </div>
    </div>
</div>