@media only screen and (min-width: 1024px) {
  ::ng-deep {

    /** Input CSS*/
    .mat-form-field-appearance-outline .mat-form-field-wrapper {
      margin: 0 !important;
      border-radius: 0;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-end {
      border: 1px solid currentColor;
      min-width: 5px;
      color: #0060AD;
      border-radius: 0 !important;
      max-height: 81px !important;
    }
  }

  .filtri-applicati {
    margin: 20px;
    height: 115px;
    min-width: 1000px;
    width: auto;
    background-color: #E7EFF6;
    display: flex;
    flex-direction: column;
    padding-left: 18px;
    font-family: "Roboto Condensed";


    .input-filter {
      height: 40px;
      width: 220px;
      border: none;
      margin-left: 1em;
    }

    input[type=checkbox]:after {
      border-radius: 0 !important;
      border: 1px solid #9D9D9D;
    }

    input[type=checkbox]:checked:before {
      top: -1px !important;
    }

    input[type=checkbox]:checked:after {
      border: 1px solid #0060AD;
    }

    .mini-games {
      color: #333333;
      font-size: 13px;
      letter-spacing: 0;
      line-height: 20px;
      cursor: pointer;
    }

    .button {
      background-color: #0060AD;
      border: none;
      color: #FFFFFF;
      text-align: center;
      text-decoration: none;
      font-family: 'Roboto Condensed', Helvetica !important;
      font-size: 14px;
      line-height: 16px;
      width: 140px;
      height: 40px;
    }

    .open-datepicker-btn {
      color: #0060AD;
      font-weight: bold;
      text-transform: uppercase;
      background-color: white;
      border: 1px solid #0060AD;
      /*border-radius: 2px;*/
      outline: none !important;
    }

    ::ng-deep {
      .mat-form-field-infix {
        border-top: 0 !important;
        padding: 15px 0 13px 0 !important;
      }

      .mat-select-placeholder {
        color: #333333;
        font-size: 14px;
        letter-spacing: -0.2px;
        line-height: 16px;
      }

      .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
        transform: none !important;
      }

      .mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
        font-size: inherit;
        line-height: 3em;
        height: 1em;
      }

      .mat-select-search-panel {
        transform: none !important;
        overflow-x: hidden;
        /*box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);*/
        margin: 2em 0 0 2.2em !important;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  ::ng-deep {
    .mat-form-field {
      display: inline !important;
    }

    /** Input CSS*/
    .mat-form-field-appearance-outline .mat-form-field-wrapper {
      margin: 0 !important;
      border-radius: 0;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-end {
      min-width: 5px;
      color: #0060AD;
      border-radius: 0 !important;
      max-height: 81px !important;
    }
  }

  .filtri-applicati-768 {
    max-width: 1024px;
    margin: 20px;
    height: 227px;
    background-color: #E7EFF6;
    display: flex;
    flex-direction: column;
    font-family: "Roboto Condensed";
    padding: 15px;

    .positioning {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: flex-start;
      margin-bottom: 10px;
    }

    .input-filter {
      height: 40px;
      width: 220px;
      border: none;
      margin-left: 1em;
    }

    input[type=checkbox]:after {
      border-radius: 0 !important;
      border: 1px solid #9D9D9D;
    }

    input[type=checkbox]:checked:before {
      top: -1px !important;
    }

    input[type=checkbox]:checked:after {
      border: 1px solid #0060AD;
    }

    .mini-games {
      color: #333333;
      font-size: 13px;
      letter-spacing: 0;
      line-height: 20px;
      cursor: pointer;
    }

    .button {
      cursor: pointer;
      background-color: #0060AD;
      border: none;
      color: #FFFFFF;
      text-align: center;
      text-decoration: none;
      font-size: 14px;
      line-height: 16px;
      font-family: 'Roboto Condensed', Helvetica !important;
      width: 140px;
      height: 40px;
    }

    .open-datepicker-btn {
      color: #0060AD;
      font-weight: bold;
      text-transform: uppercase;
      background-color: white;
      border: 1px solid #0060AD;
      /*border-radius: 2px;*/
      outline: none !important;
    }

    ::ng-deep {
      .mat-form-field-infix {
        border-top: 0 !important;
        padding: 17px 0 14px 0 !important;
      }

      .mat-select-placeholder {
        color: #333333;
        font-size: 14px;
        letter-spacing: -0.2px;
        line-height: 16px;
      }

      .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
        transform: none !important;
      }

      .mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
        font-size: inherit;
        line-height: 3em;
        height: 1em;
      }

      .mat-select-search-panel {
        transform: none !important;
        overflow-x: hidden;
        /*box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);*/
        margin: 2em 0 0 2.2em !important;
      }
    }
  }
}

.wrong-date-error-message {
  position: absolute;
    top: -19px;
    color: red;
    font-size: 13px;
    left: 0;
    @media (max-width:1023px) {
      top: -8px;
    }
}

.wrapper-element {
  display: flex;
  margin-left: 20px;
  align-items: center;
  justify-content: flex-start
}