// Paper 3.3.7 - customized by Doing
// Bootswatch
// -----------------------------------------------------
@mixin scale($ratio...) {
  -webkit-transform: scale($ratio);
  -ms-transform: scale($ratio); // IE9 only
  -o-transform: scale($ratio);
  transform: scale($ratio);
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -ms-transform: rotate($degrees); // IE9 only
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin gradient-radial($inner-color: #555, $outer-color: #333) {
  background-image: -webkit-radial-gradient(circle, $inner-color, $outer-color);
  background-image: radial-gradient(circle, $inner-color, $outer-color);
  background-repeat: no-repeat;
}

@mixin placeholder($color: $input-color-placeholder) {
  // Firefox
  &::-moz-placeholder {
    color: $color;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder {
    color: $color;
  } // Internet Explorer 10+
  &::-webkit-input-placeholder {
    color: $color;
  } // Safari and Chrome
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  box-shadow: $shadow;
}

@mixin ripple($color) {
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include gradient-radial($color 10%, transparent 10.01%);
    background-size: 1000% 1000%;
    background-position: 50%;
    opacity: 0;
    pointer-events: none;
    transition: background .5s, opacity 1s;
  }
  &:active:after {
    background-size: 0% 0%;
    opacity: .2;
    transition: 0s;
  }
}

@mixin btn($class, $bg, $color) {
  .btn-#{$class} {
    &:focus {
      background-color: $bg;
    }
    &:hover,
    &:active:hover {
      background-color: darken($bg, 6%);
    }
    &:active {
      @include box-shadow(2px 2px 4px rgba(0, 0, 0, .4));
    }
    @include ripple($color);
  }
}

.ltm-app {
  ul,
  ol {
    margin-bottom: 0
  }
  /* typo */
  p {
    margin: 0 0 1em;
  }
  input,
  button {
    -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
  }
  *:focus {
    outline: none !important;
  }
  a {
    color: #303590;
    cursor: pointer;
    &:focus {
      text-decoration: none
    }
  }
  /* Grid reset */
  @media screen and (max-width: 1024px){
    .col-xs-1,
    .col-sm-1,
    .col-md-1,
    .col-lg-1,
    .col-xs-2,
    .col-sm-2,
    .col-md-2,
    .col-lg-2,
    .col-xs-3,
    .col-sm-3,
    .col-md-3,
    .col-lg-3,
    .col-xs-4,
    .col-sm-4,
    .col-md-4,
    .col-lg-4,
    .col-xs-5,
    .col-sm-5,
    .col-md-5,
    .col-lg-5,
    .col-xs-6,
    .col-sm-6,
    .col-md-6,
    .col-lg-6,
    .col-xs-7,
    .col-sm-7,
    .col-md-7,
    .col-lg-7,
    .col-xs-8,
    .col-sm-8,
    .col-md-8,
    .col-lg-8,
    .col-xs-9,
    .col-sm-9,
    .col-md-9,
    .col-lg-9,
    .col-xs-10,
    .col-sm-10,
    .col-md-10,
    .col-lg-10,
    .col-xs-11,
    .col-sm-11,
    .col-md-11,
    .col-lg-11,
    .col-xs-12,
    .col-sm-12,
    .col-md-12,
    .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    padding-right: 40px;
    .row {
      padding-left: 0;
      padding-right: 0;
    }
    &--full {
      padding-left: 0;
      padding-right: 0;
      margin-left: -10px;
      margin-right: -10px;
    }
    @media (max-width: $screen-sm) {
      &--slider {
        padding-right: 0;
      }
    }
  }
  .navbar {
    border: none;
    @include box-shadow(0 1px 2px rgba(0, 0, 0, .3));
    &-brand {
      font-size: 24px;
    }
    &-inverse {
      .navbar-form {
        input[type=text],
        input[type=password] {
          color: #fff;
          @include box-shadow(inset 0 -1px 0 $navbar-inverse-link-color);
          @include placeholder($navbar-inverse-link-color);
          &:focus {
            @include box-shadow(inset 0 -2px 0 #fff);
          }
        }
      }
    }
  }
  // Buttons ====================================================================
  @include btn(default, $btn-default-bg, $btn-default-color);
  @include btn(primary, $btn-primary-bg, $btn-primary-color);
  @include btn(success, $btn-success-bg, $btn-success-color);
  @include btn(info, $btn-info-bg, $btn-info-color);
  @include btn(warning, $btn-warning-bg, $btn-warning-color);
  @include btn(danger, $btn-danger-bg, $btn-danger-color);
  @include btn(link, #fff, $btn-default-color);
  .btn {
    text-transform: uppercase;
    border: none;
    box-shadow: $btn-box-shadow;
    &-link {
      border-radius: $btn-border-radius-base;
      @include box-shadow(none);
      color: $btn-default-color;
      &:hover,
      &:focus {
        @include box-shadow(none);
        color: $btn-default-color;
        text-decoration: none;
      }
      .disabled, // Although btn-link is intended for buttons, which want to look like link, I include here a.disable for the sake of consistency
      &[disabled],
      fieldset[disabled] & {
        &:hover,
        &:active:hover {
          background-color: #fff;
          color: $btn-default-color;
        }
      }
    }
    &-default {
      border: 1px solid $btn-default-border;
      &.disabled,
      &[disabled],
      fieldset[disabled] & {
        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.4);
        opacity: 1;
        &:hover,
        &:focus {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
  .btn:active:after,
  .btn-default:active:after {
    transition: none !important;
    opacity: 0 !important;
    display: none
  }
  .btn-group {
    .btn+.btn,
    .btn+.btn-group,
    .btn-group+.btn,
    .btn-group+.btn-group {
      margin-left: 0;
    }
    &-vertical {
      >.btn+.btn,
      >.btn+.btn-group,
      >.btn-group+.btn,
      >.btn-group+.btn-group {
        margin-top: 0;
      }
    }
  }
  // Tables =====================================================================
  .table-hover {
    >tbody>tr,
    >tbody>tr>th,
    >tbody>tr>td {
      @include transition(all 0.2s);
    }
  }
  // Containers =================================================================
  .list-group {
    &-item {
      padding: 15px;
    }
    &-item-text {
      color: $gray-light;
    }
  }
  .well {
    border-radius: 0;
    @include box-shadow(none);
  }
  .panel {
    border: none;
    border-radius: 2px;
    @include box-shadow(0 1px 4px rgba(0, 0, 0, .3));
    &-heading {
      border-bottom: none;
    }
    &-footer {
      border-top: none;
    }
  }
  .popover {
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    @include box-shadow(0 1px 4px rgba(0, 0, 0, .3));
  }
  .carousel {
    &-caption {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: inherit;
      }
    }
  }
  // Forms ======================================================================
  label {
    font-weight: normal;
    margin: 0;
  }
  textarea,
  textarea.form-control,
  input.form-control,
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  [type=text].form-control,
  [type=password].form-control,
  [type=email].form-control,
  [type=tel].form-control,
  [contenteditable].form-control {
    padding: 0;
    // border: none;
    border-radius: 0;
    -webkit-appearance: none;
    &::-ms-expand {
      display: none;
    }
    @include box-shadow(inset 0 -1px 0 #ddd);
    font-size: 16px;
    &:focus {
      @include box-shadow(inset 0 -2px 0 $brand-primary);
    }
    &[disabled],
    &[readonly] {
      @include box-shadow(none);
      border-bottom: 1px dotted #ddd;
    }
    &.input {
      &-sm {
        font-size: $font-size-small;
      }
      &-lg {
        font-size: $font-size-large;
      }
    }
  }
  select,
  select.form-control {
    border: 1px solid #E3E8F0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    // padding-left: 0;
    padding-right: 0\9; // remove padding for < ie9 since default arrow can't be removed
    //background-image: url('../../images/live-races/arrow_down_icon.svg')!important;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: right 20px center;
    // @include box-shadow(inset 0 -1px 0 #ddd);
    font-size: 14px!important;
    line-height: 16px;
    &::-ms-expand {
      display: none;
    }
    &.input {
      &-sm {
        font-size: $font-size-small;
      }
      &-lg {
        font-size: $font-size-large;
      }
    }
    &:focus {
      @include box-shadow(inset 0 -2px 0 $brand-primary);
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEUhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISF8S9ewAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
    }
    &[multiple] {
      background: none;
    }
  }
  .radio,
  .radio-inline,
  .checkbox,
  .checkbox-inline {
    label {
      padding-left: 25px;
    }
    input[type="radio"],
    input[type="checkbox"] {
      margin-left: -25px;
    }
  }
  input[type="radio"],
  .radio input[type="radio"],
  .radio-inline input[type="radio"] {
    position: relative;
    margin-top: 6px;
    margin-right: 4px;
    vertical-align: top;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:before,
    &:after {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      @include transition(240ms);
    }
    &:before {
      position: absolute;
      left: 0;
      top: -3px;
      background-color: $brand-primary;
      @include scale(0);
    }
    &:after {
      position: relative;
      top: -3px;
      border: 2px solid $gray;
    }
    &:checked:before {
      @include scale(0.5);
    }
    &:disabled:checked:before {
      background-color: $gray-light;
    }
    &:checked:after {
      border-color: $brand-primary;
    }
    &:disabled:after,
    &:disabled:checked:after {
      border-color: $gray-light;
    }
  }
  input[type="checkbox"],
  .checkbox input[type="checkbox"],
  .checkbox-inline input[type="checkbox"] {
    position: relative;
    border: none;
    margin-bottom: -4px;
    -webkit-appearance: none;
    appearance: none;
    margin-right: 5px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:focus:after {
      // border-color: $brand-primary;
    }
    &:after {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      margin-top: -2px;
      // margin-right: 5px;
      border: 2px solid $gray;
      border-radius: 2px;
      @include transition(240ms);
    }
    &:checked:before {
      content: "";
      position: absolute;
      top: 0;
      left: 6px;
      display: table;
      width: 6px;
      height: 12px;
      border: 2px solid #fff;
      border-top-width: 0;
      border-left-width: 0;
      @include rotate(45deg);
    }
    &:checked:after {
      // background-color: $brand-primary;
      // border-color: $brand-primary;
    }
    &:disabled:after {
      border-color: $gray-light;
    }
    &:disabled:checked:after {
      background-color: $gray-light;
      border-color: transparent;
    }
  }
  .has-warning {
    input:not([type=checkbox]),
    .form-control,
    input.form-control[readonly],
    input[type=text][readonly],
    [type=text].form-control[readonly],
    input:not([type=checkbox]):focus,
    .form-control:focus {
      border-bottom: none;
      @include box-shadow(inset 0 -2px 0 $brand-warning);
    }
  }
  .has-error {
    input:not([type=checkbox]),
    .form-control,
    input.form-control[readonly],
    input[type=text][readonly],
    [type=text].form-control[readonly],
    input:not([type=checkbox]):focus,
    .form-control:focus {
      border-bottom: none;
      @include box-shadow(inset 0 -2px 0 $brand-danger);
    }
  }
  .has-success {
    input:not([type=checkbox]),
    .form-control,
    input.form-control[readonly],
    input[type=text][readonly],
    [type=text].form-control[readonly],
    input:not([type=checkbox]):focus,
    .form-control:focus {
      border-bottom: none;
      @include box-shadow(inset 0 -2px 0 $brand-success);
    }
  }
  // Remove the Bootstrap feedback styles for input addons
  .input-group-addon {
    .has-warning &,
    .has-error &,
    .has-success & {
      color: $input-color;
      border-color: $input-group-addon-border-color;
      background-color: $input-group-addon-bg;
    }
  }
  .form-group-lg {
    select,
    select.form-control {
      line-height: 1.5;
    }
  }
  // Navs =======================================================================
  .nav-tabs {
    >li>a,
    >li>a:focus {
      margin-right: 0;
      background-color: transparent;
      border: none;
      color: $navbar-default-link-color;
      @include box-shadow(inset 0 -1px 0 #ddd);
      @include transition(all 0.2s);
      &:hover {
        background-color: transparent;
        @include box-shadow(inset 0 -2px 0 $brand-primary);
        color: $brand-primary;
      }
    }
    &>li.active>a,
    &>li.active>a:focus {
      border: none;
      @include box-shadow(inset 0 -2px 0 $brand-primary);
      color: $brand-primary;
      &:hover {
        border: none;
        color: $brand-primary;
      }
    }
    &>li.disabled>a {
      @include box-shadow(inset 0 -1px 0 #ddd);
    }
    &.nav-justified {
      &>li>a,
      &>li>a:hover,
      &>li>a:focus,
      &>.active>a,
      &>.active>a:hover,
      &>.active>a:focus {
        border: none;
      }
    }
    .dropdown-menu {
      margin-top: 0;
    }
  }
  .dropdown-menu {
    margin-top: 0;
    border: none;
    @include box-shadow(0 1px 4px rgba(0, 0, 0, .3));
  }

  //MANUTENZIONE
  .box-manutenzione{
    position: relative;
    display: flex;
    align-items: center;
    // min-height: 41px;
    width: 100%;
    border-radius: 4px;
    background-color: #F2F2F2;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.6);
    margin: 20px auto;
    text-align: center;
    padding: 10px 15px;
    &__text{
      color: #222222;
      font-size: 15px;
      font-weight: bold;
      line-height: 20px;
      display: block;
      margin: 0 auto;
      max-width: 835px;
    }

    &__ico-sx{
      // position: absolute;
      // left: 15px;
      display: block;
    }
    &__ico-dx{
      // position: absolute;
      // right: 15px;
      display: block;
    }
  }

  //BANNERINI VINCITE
  .bannerino-vincite{
    width: 100%;
    text-align: center;
    height: 43px;
    margin: 5px 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__text{
      font-size: 14px;
      font-weight: bold;
      line-height: 19px;
      text-align: center;
      display: block;
      padding: 0 10px;
    }
    &__money{
      font-size: 22px;
      font-weight: bold;
      line-height: 24px;
      text-align: center;
      display: block;
    }

    &--yellow{
      background-color: #FFF01E;
      &__text{
        color: #303591;
      }
      &:hover{
        background-color: #F2E31C;
        // border-color: #F2E31C;
      }
    }
    &--download{
      border: 1px solid #303591;
      @media screen and (max-width: 1024px){
        padding: 0 3px;
        min-width: 170px;
        img{width: 13px;}
      }
      &__text{
        color: #303591;
        @media screen and (max-width: 1024px){
          padding: 0 0 0 4px;
        }
      }
      &:hover{
        background-color: #D9DBEA;
        border-color: #D9DBEA;
      }
    }
    &:hover{text-decoration: none;}
  }

  //PROMOZIONI
  .promo-date{
    display: block;
    color: #4D4D4D;
    font-size: 12px;
    line-height: 16px;
    margin-top: 30px;
  }

  .default-intro{
    color: #333333;
    font-size: 16px;
    line-height: 28px;
    display: block;
  }
  .promozioni-banner{
    background-color: #D8D8D8;
    width: 100%;
    height: 105px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }

  .instruction{
    display: flex;
    align-items: center;
    height: 136px;
    width: 100%;
    max-width: 773px;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.1);

    &__text{
      color: #4D4D4D;
      font-size: 14px;
      font-weight: bold;
      line-height: 18px;
      max-width: 150px;
      display: block;
      margin: 15px auto 0;
    }
  }
}

.close {
  font-size: 34px;
  font-weight: 300;
  line-height: 24px;
  opacity: 0.6;
  @include transition(all 0.2s);
  &:hover {
    opacity: 1;
  }
}

.poker-world{
  &__img{
    width: 100%;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
}

//FILTRI CARD
.filtri-card{
  margin: 30px 0 20px;
  a.list{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 15px;
    font-weight: bold;
    &:hover{
      color: #FFFFFF!important;
      text-decoration: none!important;
    }
  }

  &__lotto{
    .list{
      &:hover{
        background-color: #ECAF1D!important;
      }
    }
  }
}
