@media only screen and (min-width: 1024px) {

  ::ng-deep {

    .md-drppicker .calendar td {
      color: #333333;
      font-family: Roboto;
      font-size: 13px;
      letter-spacing: 0;
      line-height: 18px;
      height: 30px;
    }

    .md-drppicker td.in-range {
      background: #E5EFF6 !important;
    }

    .md-drppicker td.start-date {
      border-radius: 50% !important;
      background: #0060AD !important;
    }

    .md-drppicker td.end-date {
      border-radius: 50% !important;
      background: #0060AD !important;
    }

    .mat-form-field-infix {
      // margin-bottom: 5px !important;
    }

    .mat-form-field-appearance-outline.mat-form-field-outline-start {
      border-radius: 0 !important;
    }

    .mat-form-field-appearance-outline.mat-form-field-outline-end {
      border-radius: 0 !important;
    }

    .md-drppicker.ltr .ranges {
      float: left;
      width: 40px;
    }

    .md-drppicker th.month {
      color: #333333;
      font-family: 'Roboto Condensed' !important;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
      font-weight: normal;
    }

    .md-drppicker th {
      color: #9D9D9D;
      font-family: "Roboto Medium";
      font-size: 13px;
      letter-spacing: 0;
      line-height: 15px;
      font-weight: normal;
    }

    .md-drppicker td, .md-drppicker th {
      border: none !important;
    }

    .md-drppicker.ltr {
      direction: ltr;
      text-align: left;
      // width: 697px !important;
      box-shadow: none;
      height: auto;
    }

    .mat-form-field-outline-start, .mat-form-field-outline-end {
      border-radius: 0 !important;
    }

    .btn-close {
      color: #0060AD;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      font-weight: bold;
      width: 120px;
      height: 40px;
      text-transform: uppercase;
      background: #FFFFFF;
      border: none;
      outline: none !important;
      cursor: pointer;
      font-family: 'Roboto Condensed', Helvetica !important;
    }

    .btn-confirm {
      color: #FFFFFF;
      background: #0060AD;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      font-weight: bold;
      height: 40px;
      text-transform: uppercase;
      outline: none !important;
      border: none;
      width: 120px;
      cursor: pointer;
      font-family: 'Roboto Condensed', Helvetica !important;
    }

    .from-to {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 16px;
      color: #333333;
    }

  }
}

@media only screen and (max-width: 1024px) {
  ::ng-deep {

    .md-drppicker .calendar td {
      color: #333333;
      font-family: Roboto;
      font-size: 13px;
      letter-spacing: 0;
      line-height: 18px;
      height: 30px;
    }

    .md-drppicker td.in-range {
      background: #E5EFF6 !important;
    }

    .md-drppicker td.start-date {
      border-radius: 50% !important;
      background: #0060AD !important;
    }

    .md-drppicker td.end-date {
      border-radius: 50% !important;
      background: #0060AD !important;
    }

    .mat-form-field-infix {
      // margin-bottom: 5px !important;
    }

    .mat-form-field-appearance-outline.mat-form-field-outline-start {
      border-radius: 0 !important;
    }

    .mat-form-field-appearance-outline.mat-form-field-outline-end {
      border-radius: 0 !important;
    }

    .md-drppicker.ltr .ranges {
      float: left;
      width: 40px;
    }

    .md-drppicker th.month {
      color: #333333;
      font-family: 'Roboto Condensed' !important;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
      font-weight: normal;
    }

    .md-drppicker th {
      color: #9D9D9D;
      font-family: "Roboto Medium";
      font-size: 13px;
      letter-spacing: 0;
      line-height: 15px;
      font-weight: normal;
    }

    .md-drppicker td, .md-drppicker th {
      border: none !important;
    }

    .md-drppicker.ltr {
      direction: ltr;
      text-align: left;
      // width: 697px !important;
      box-shadow: none;
      height: auto;
    }

    .mat-form-field-outline-start, .mat-form-field-outline-end {
      border-radius: 0 !important;
    }

    .btn-close {
      color: #0060AD;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      font-weight: bold;
      width: 120px;
      height: 40px;
      text-transform: uppercase;
      background: #FFFFFF;
      border: none;
      outline: none !important;
      cursor: pointer;
      font-family: 'Roboto Condensed', Helvetica !important;
    }

    .btn-confirm {
      color: #FFFFFF;
      background: #0060AD;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      font-weight: bold;
      height: 40px;
      text-transform: uppercase;
      outline: none !important;
      border: none;
      width: 120px;
      cursor: pointer;
      font-family: 'Roboto Condensed', Helvetica !important;
    }

    .from-to {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 16px;
      color: #333333;
    }

  }

}

@media only screen and (max-width: 678px) {
  ::ng-deep {

    .md-drppicker .calendar td {
      color: #333333;
      font-family: Roboto;
      font-size: 13px;
      letter-spacing: 0;
      line-height: 18px;
      height: 30px;
    }

    .md-drppicker .calendar {
      max-width: 180px !important;
    }

    .md-drppicker.double {
      width: 100% !important;
    }

    .md-drppicker td.in-range {
      background: #E5EFF6 !important;
    }

    .md-drppicker td.start-date {
      border-radius: 50% !important;
      background: #0060AD !important;
    }

    .md-drppicker td.end-date {
      border-radius: 50% !important;
      background: #0060AD !important;
    }

    .mat-form-field-infix {
      // margin-bottom: 5px !important;
    }

    .mat-form-field-appearance-outline.mat-form-field-outline-start {
      border-radius: 0 !important;
    }

    .mat-form-field-appearance-outline.mat-form-field-outline-end {
      border-radius: 0 !important;
    }

    .md-drppicker.ltr .ranges {
      float: left;
      width: 40px;
    }

    .md-drppicker th.month {
      color: #333333;
      font-family: 'Roboto Condensed' !important;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
      font-weight: normal;
    }

    .md-drppicker th {
      color: #9D9D9D;
      font-family: "Roboto Medium";
      font-size: 13px;
      letter-spacing: 0;
      line-height: 15px;
      font-weight: normal;
    }

    .md-drppicker td, .md-drppicker th {
      border: none !important;
    }

    .md-drppicker.ltr {
      direction: ltr;
      text-align: left;
      // width: 697px !important;
      box-shadow: none;
      height: auto;
    }

    .mat-form-field-outline-start, .mat-form-field-outline-end {
      border-radius: 0 !important;
    }

    .btn-close {
      color: #0060AD;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      font-weight: bold;
      width: 100px;
      height: 40px;
      text-transform: uppercase;
      background: #FFFFFF;
      border: none;
      outline: none !important;
      cursor: pointer;
    }

    .btn-confirm {
      color: #FFFFFF;
      background: #0060AD;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      font-weight: bold;
      height: 40px;
      text-transform: uppercase;
      outline: none !important;
      border: none;
      width: 100px;
      cursor: pointer;
    }

    .from-to {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 16px;
      color: #333333;
    }

    .md-drppicker.ltr .calendar.right .calendar-table {
      margin-left: 40px !important;
    }

    .md-drppicker.ltr .calendar.left .calendar-table {
      margin-left: -12px !important;
    }

  }
}

