<div style="display: flex; flex-direction: column; max-width: 500px">
    <form [formGroup]="form">
        <div style="display: flex; flex-direction: column; margin-bottom: 10px; height: 100%">
            <div style="display: flex; flex-direction: row; width: 100%">
                <div style="display: flex; justify-content: flex-start">
                    <mat-form-field appearance="outline" style="width: 120px; height: 30px">
                        <mat-label class="from-to">Dal</mat-label>
                        <input matInput [OnlyNumber]="true"
                               maxlength="10"
                               autocomplete="off"
                               placeholder="GG/MM/AAAA"
                               formControlName="data1"
                               [(ngModel)]="startDate"
                               (ngModelChange)="onChangeStartDate($event)">
                    </mat-form-field>
                </div>
                <div style="display: flex; margin-left: 10px; justify-content: flex-start">
                    <mat-form-field appearance="outline" style="width: 120px">
                        <mat-label class="from-to">Al</mat-label>
                        <input matInput [OnlyNumber]="true"
                               maxlength="10"
                               [(ngModel)]="endDate"
                               autocomplete="off"
                               (ngModelChange)="onChangeEndDate($event)"
                               placeholder="GG/MM/AAAA"
                               formControlName="data2">
                    </mat-form-field>
                </div>
                <div style="display: flex; justify-content: center;">
                    <button type="button" class="btn-close" (click)="close()">ANNULLA</button>
                </div>
                <div style="display: flex; justify-content: center;">
                    <button type="button" class="btn-confirm"
                            [style.opacity]="errorsValidity ? '0.3' : '1'"
                            [disabled]="errorsValidity"
                            (click)="close(startDate, endDate)">SALVA
                    </button>
                </div>
            </div>
        </div>
    </form>
    <hr style="width: 100%; margin-top: 0 !important; border-top: 1px solid #EEEFF0;">
    <div>
        <ngx-daterangepicker-material
                [autoUpdateInput]="true"
                [singleDatePicker]="false"
                [keepCalendarOpeningWithRange]="true"
                [maxDate]="today"
                [startDate]="startDateMoment"
                [endDate]="endDateMoment"
                [linkedCalendars]="true"
                [locale]="localeOptions"
                [autoApply]="true"
                (startDateChanged)="startDateChange($event)"
                (endDateChanged)="endDateChange($event)"
                (choosedDate)="choosedDate($event)">
        </ngx-daterangepicker-material>
    </div>
</div>

