<form [formGroup]="form">
    <mat-form-field appearance="outline" style="background-color: #FFFFFF" [style.width]="isFullScreen ? '90vw' : ''">
        <mat-select disableOptionCentering #sl placeholder="Periodo"
                    (selectionChange)="selectionChange($event)" formControlName="selectDate">
            <mat-option *ngFor="let date of dateList"
                        [value]="date.value"
                        class="select-date-cls">
                {{date.viewValue}}
            </mat-option>
            <mat-option
                    [value]="selectDate"
                    style="display: none">
                {{selectDate}}
            </mat-option>
            <div style="display: flex; flex-direction: column; justify-content: center; align-content: flex-end">
                <div style="padding-left: 16px; padding-right: 8px;">
                    <span style="color: #9D9D9D; font-size: 12px; letter-spacing: 0; line-height: 13px">
                    *Scegliendo il periodo di 12 mesi, visualizzerai
                    le movimentazioni degli ultimi 6 mesi, solo per
                    Lotteria Italia avrai uno storico di 12 mesi.
                    </span>
                </div>
                <div>
                    <hr class="solid" [style.marginBottom]="isFullScreen ? '4px' : '5px'">
                </div>
                <div [style.padding]="isFullScreen ? '5px 5px 5px 15px' : '5px 8px 5px 8px'"
                     style="display: flex; align-content: flex-end; justify-content: flex-start; width: 100%"
                     class="person-data-responsive">
                    <button (click)="openDialog(); sl.close();" class="person-data" type="button">
                        Personalizza data
                    </button>
                </div>
            </div>
        </mat-select>
    </mat-form-field>
</form>
