@media only screen and (min-width: 1024px) {
  ::ng-deep {

    .ng-trigger-transformPanel {
      min-width: 201px !important;
      width: 201px !important;
    }

    .mat-select-panel:not([class*=mat-elevation-z]) {
      margin: 2.1em 0 0 0.4em;
      min-height: 323px; /* none;*/
      // padding-bottom: 2em;
    }

    .mat-option-text {
      color: #9D9D9D;
      font-family: "Roboto Condensed";
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 14px;
    }
  }

  .person-data {
    width: 190px;
    height: 40px;
    color: #0060AD;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    border: 1px solid #0060AD;
    outline: none;
    background: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Roboto Condensed";
  }

  .select-date-cls {
    height: 2.0em !important;
    margin: 0;
  }
}

@media only screen and (max-width: 1024px) {
  ::ng-deep {

    .mat-select-panel {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      padding-top: 0;
      padding-bottom: 0;
      max-height: none;
      margin-left: 0.5em;
      border-radius: 0 !important;
    }

    .mat-select-panel:not([class*=mat-elevation-z]) {
      margin: 30px 0 0 6px;
      min-width: calc(100% + 20px) !important;
      min-height: 263px;
    }

    .mat-option-text {
      color: #9D9D9D;
      font-family: "Roboto Condensed";
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 14px;
    }
  }

  .person-data {
    width: 190px;
    height: 40px;
    color: #0060AD;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    border: 1px solid #0060AD;
    outline: none;
    background: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Roboto Condensed";
  }

  .select-date-cls {
    height: 2.0em !important;
    margin: 0;
  }
}
